<div class = "col-sm-3 col-md-2 sidebar">
    <br></br>
    <ul class = "nav nav-sidebar">
      <li class = "sidebar-title">
        <b>Boas vindas ao amigo X</b>
      </li>
      <li class = 'button'>
        <%= button_to "Logout", destroy_user_session_path, method: :delete%>
      </li>
      <li class = 'group-creation'>
        <%= button_to "Criar um Grupo", groups_path(current_user.id), method: :get %>
      </li>
    </ul>
   </div>

<style>
.sidebar{
  display: flex;
  height: 100%;
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #29df57; 
  overflow-x: hidden; 
  padding-top: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebar-title{
  color: Black;
}
</style>