<div class = "home">
  <div class = 'sidebar'>
    <%= render 'components/navbar' %>
  </div>
  <div class = 'presentation-title'>
    <h2>Boas vindas ao amigo X</h2>
  </div>
  <br></br>
  <div class = 'presentation-content'>
  <p>A solução para nao arruinar o clássico amigo secreto em tempos de covid-19</p>
  <p>Um Amigo secreto virtual, pronto pra voce e seus amigos.</p>
  <p>*insira aqui as features de maneira bem sensacionalista*</p>
  </div>
  <br></br>
  <br></br>
  <br></br>
    
</div>
<style>
.home{
  font-family: sans-serif;
  background-color: Black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: -10px
}
.presentation-title{
  position: fixed;
  top: 15vh;
  left: -12vw;
  margin-top: 5vh;
  margin-left: 50vw;
  color: white;
}
.presentation-content{
  color: white;
  position: center;
}
</style>